
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'Quicksand';
    color: #FFF;
}

html {
    background: #201f1c url(assets/images/img_diagonals.png) repeat center center fixed;
    background-size: none;
    box-shadow: 0 99999px rgba(0, 0, 0, 0.94) inset;
}

/* FONTS AND TEXT */
@font-face {
    font-family: 'Quicksand';
    src: url(assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    
    margin-bottom: 3rem;
}
h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 3rem;
}
h3 {
    font-size: 1.65rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    
    margin-bottom: 2rem;
}
h4 {
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    
    margin-bottom: 1.5rem;
}

hr {
    border: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
    margin: 2em 0;
}
.line-divider {
    height: 2px;
    margin-bottom: 1rem;
    background-image: linear-gradient(90deg, #ff9700, #d72762);
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
}
p.date {
    font-size: 1rem;
    color: #777;
    text-align: center;
    text-transform: uppercase;
}
p.bullet {
    color: #ff9700;
    font-size: 1.1rem;
    font-weight: 400;
}
p.p-hero {
    text-align: center;
}
p.procard-details {
    padding: 1rem 0;
    color: #777;
    line-height: 1.15rem;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    font-size: 1.1rem;
}
li {
    display: list-item;
    color: #999;
    font-size: 1.1rem;
    margin: .25em 0;
}
li::before {
    content: '» ';
    color: #ffb650;
    font-size: 1.1rem;
}



/* DIVIDERS */
div.topic {
    padding: 3rem 6rem;
}
div.topic p {
    text-align: justify;
}
div.topic-row {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0;
}
div.topic-row img {
    max-width: 384px;
    margin-right: 2rem;

    border-radius: 12px;
    box-shadow: 5px 5px 10px 0px #000000dd;
}
@media(max-width: 1500px) {
    div.topic-row {
        flex-wrap: wrap;
    }
    div.topic-row img {
        margin-bottom: 2rem;
    }
}

div.gallery {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    grid-gap: 16px;
}
div.gallery img {
    flex: 1 0;
    width: 32%;
    cursor: pointer;
    transition: 0.3s;
}
div.gallery img:hover {
    transform: scale(1.05);
    
    box-shadow: 0px 0px 10px 0px #000000dd;
    border-width: 4px;
    border-radius: 8px;
}

div.img-focused {
    display: none;
    
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
div.img-focused img {
    height: 50vh;
}
.modal-content {
    width: 100%;
    height: 100vh;
    position: relative;
}



/* IMAGES */
img.procard-banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 4px solid #000;
    box-shadow: 5 5 24 0 0;
    transition: 0.3s;
}
img.procard-banner:hover {
    transition: 0.3s;
    transform: scale(1.045);
    box-shadow: 0px 0px 32px 0px #000000;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 5px;
}



/* BODY */
body {
    margin: 8%;
    margin-top: 0%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;

    opacity: 0.85;
    background-color: rgb(28, 26, 23);
    border: solid #000 16px;
    border-top: none;
}

.button {
    width: 20rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem .5rem;
    
    box-shadow: 0px 0px 10px 0px rgba(255, 151, 0, 0.5);
    border: 1px solid #ff9700;
    border-radius: 8px;
    background-color: transparent;
    
    color: lightgray;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75px;
    text-transform: uppercase;
    text-decoration: none;

    transition: 0.3s;
}
.button:hover {
    transition: 0.3s;
    transform: scale(1.025);
    box-shadow: 0px 0px 10px 0px rgba(133, 220, 255, 0.5);
    border-color: #85dcffff;
    border-width: 2px;
}

/* HEADER, NAVIGATION */
#header {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 999;
    background-size: cover;
    background-position: center;
}

.nav-bar { 
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 32px 48px;
    justify-content: center;
    background-color: transparent;
    background-image: linear-gradient(180deg, #000, #000 67%, rgba(0, 0, 0, 0.27) 94%, transparent)
}
.nav-items {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
}
.nav-icons {
    flex: 0 0 auto;
    width: auto;
    display: flex;
}
.nav-icon {
    display: inline-block;
    margin: 0 16px;
}

nav {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.nav-item-link {
    cursor: pointer;
    width: auto;
    margin: 0 1rem;
    color: lightgray;
    font-size: 1rem;
    line-height: 1.25;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item-link.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 2rem;
}
.nav-item-link::after {
    text-decoration: none;
    font-size: 18px;
}


/* SECTIONS */
.section-container {
    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.section-divider {
    width: 100%;
    bottom: -1px;

    position: absolute;
}



/* SECTION: HERO */
.section-hero {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    
    background-image: url(assets/images/img_fernBlack-unslpash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-background {
    position: relative;
    height: 100%;
    width: 100%;
}
.section-hero.project {
    margin-top: 5rem;
    transition: 0.3s;

    overflow: hidden;
}
.section-hero.project:hover img {
    transition: 0.3s;
    filter: blur(2px);
}
.section-hero figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    text-shadow: 0 4px 0 rgb(0, 0, 0);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.6);
    padding: 6rem;
    opacity: 0;
    transform: scale(1.15);
    transition: 0.2s;
}
.section-hero figcaption h1 {
    margin-top: 6rem;
    font-variant: small-caps;
}
.section-hero figcaption p {
    text-align: center;
}
.section-hero:hover img,
.section-hero:focus img,
.section-hero:active img {
    filter: blur(3px);
}
.section-hero:hover figcaption,
.section-hero:focus figcaption,
.section-hero:active figcaption {
    opacity: 1;
    transform: none;
}


/* SECTION: PROJECTS */
.section-projects {
    width: 100%;
    height: auto;

    padding: 3rem 3rem;
    
    background-image: linear-gradient(180deg, #000000 0.00%, rgb(28, 26, 23) 100.00%);
}

.projects-current {
    padding: 3rem;
    align-items: center;
    justify-content: center;
}
.projects-previous {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 32px;
    padding: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(min(32%, max(100%/3)), 1fr));
}
@media(max-width: 1200px) {
    .projects-previous {
        grid-template-columns: none;
    }
}

.project-card {
    padding: 1rem;
    min-width: 32%;
    padding: 1rem;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
    flex: 1 0;
    background-image: linear-gradient(180deg, #00000075, #00000000 100.00%);
    transition: 0.3s;
}
.project-card:hover {
    transition: 0.3s;
    transform: scale(1.025);
}
.procard-content {
    padding: 1rem;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0;
}
.procard-buttons {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin: 3rem 0;
    flex-direction: row;
    justify-content: center;
}


/* SECTION: ABOUT ME */
.section-aboutme {
    width: 100%;
    height: auto;

    padding: 3rem 3rem;
    
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgb(17, 17, 17) 100.00%);
}

.aboutme-row {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap; 
}
.aboutme-col-1 {
    flex-basis: 55%;
}
.aboutme-col-2 {
    flex-basis: 40%;
}
.aboutme-tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.aboutme-tab-links {
    cursor: pointer;
    position: relative;
    margin-right: 3rem;
    font-weight: 700;
}
.aboutme-tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff9700;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.aboutme-tab-links.active-link::after {
    width: 50%;
}


.aboutme-tab-contents {
    display: none;
}
.aboutme-tab-contents.active-tab {
    display: block;
}
.aboutme-tab-contents ul li {
    list-style: none;
    margin: 1rem 0;
}
.aboutme-tab-contents ul li span {
    color: #d27c0a;
    font-size: 0.9rem;
    font-weight: 600;
}


/* FOOTER */
footer {
    width: 100%;
    height: 10vh;
    bottom: 0;
    z-index: 999;
    position: relative;
    align-content: center;
}

a.toTop {
    display: block;
    margin-top: 2rem;
    color: #d27c0a;
    font-size: 1.5rem;
    font-variant: small-caps;
    text-align: center;
}